public/img/face.png filter=lfs diff=lfs merge=lfs -text
public/favicon.ico filter=lfs diff=lfs merge=lfs -text
public/font/dancing_script.woff2 filter=lfs diff=lfs merge=lfs -text
public/font/news_cycle.woff2 filter=lfs diff=lfs merge=lfs -text
