<div class="container">
    <nav class="navbar navbar-default" role="navigation">
            <!--<div class="navbar-header">
                <a class="navbar-brand" href="/">Csnippets</a>
            </div>-->
            <div class="collapse navbar-collapse" id="nav_bar">
                <ul class="nav navbar-nav" id="nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/code/list">Snippets Repo</a></li>
                </ul>
                <%
                    if (user) {
                %>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=user%></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Code</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Message</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Setting</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <%
                    } else {
                %>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">New Code Snippet</a></li>
                            <li><a href="#">New Artical</a></li>
                        </ul>
                    </li>
                    <li><a href="/signin">登陆</a></li>
                    <li><a href="/signup">注册</a></li>
                </ul>
                <%
                    }
                %>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索">
                    </div>
                </form>
            </div>
    </nav>
</div>
