<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/src/style.css">
</head>

<body>
    <% include ../components/menu.html %>
    <div class="container">
        <div class="panel panel-default">
            <div class="pull-right">
                <button class="btn btn-theme" style="margin-top:5px;margin-right:8px;" id="codelike">赞：<%=code.like%></button>
            </div>
            <div class="panel-heading"><span class="active">Code Snippet</span><span>History</span></div>
            <div class="panel-body">
                <div class="code-content">
                    <div class="code-content-btn-group">
                        <input type="text" class="share-script-input" id="shareUrl" disabled>
                        <button class="btn copy" id="copy" data-clipboard-target="#shareUrl">Copy</button>
                        <button class="btn code-png">Png</button>
                        <button class="btn share-sina-btn">分享至Sina微博</button>
                        <button class="btn share-qq-btn">分享至QQ空间</button>
                    </div>
                    <div class="code-content-text">
                        <pre style="height:84px" id="codeText"><%=code.codecon%></pre>
                    </div>
                    <div class="comment">
                        <a class="btn btn-theme" href="javascript:void(0);" id="addComment">添加新的评论</a>
                        <%
                            comments.forEach(function(comment){
                                if(comment.isFirst) {
                        %>
                                    <div class="comment-div">
                                        <div class="comment-wrap">
                                            <div><a href="###" class="comment-user"><%=comment.uid%></a><span class="comment-user-timestamp"> (<%=comment.timestamp%>) </span>:</div>
                                            <div class="comment-content"><%=comment.content%></div>
                                            <div class="comment-footer">
                                                <a href="javascript:void(0);" class="comment-footer-reply" data-commentid="<%=comment.commentID%>" data-uid="<%=comment.uid%>" data-divid="<%=comment.divid%>">回复</a>
                                                <a href="javascript:void(0);" class="comment-footer-edit"  data-commentid="<%=comment.commentID%>" data-content="<%=comment.content%>">编辑</a>
                                                <a href="javascript:void(0);" class="comment-footer-delete" data-commentid="<%=comment.commentID%>">删除</a>
                                            </div>
                                        </div>
                        <%
                                    comments.forEach(function(cmt){
                                        if(cmt.reply != "null" && cmt.divid == comment.divid) {
                        %>
                                            <div class="comment-wrap">
                                                <div><a href="###" class="comment-user"><%=cmt.uid%></a><span class="comment-user-timestamp"> (<%=cmt.timestamp%>) </span>:</div>
                                                <div class="comment-content"><%=cmt.content%></div>
                                                <div class="comment-footer">
                                                    <a href="javascript:void(0);" class="comment-footer-reply" data-commentid="<%=cmt.commentID%>" data-uid="<%=cmt.uid%>" data-divid="<%=comment.divid%>">回复</a>
                                                    <a href="javascript:void(0);" class="comment-footer-edit"  data-commentid="<%=cmt.commentID%>" data-content="<%=cmt.content%>">编辑</a>
                                                    <a href="javascript:void(0);" class="comment-footer-delete" data-commentid="<%=cmt.commentID%>">删除</a>
                                                </div>
                                            </div>
                        <%                    
                                        }
                                    });
                        %>
                                    </div>
                        <%
                                }
                        %>
                               
                            
                        <% 
                            });
                        %>
                    </div>
                </div>
            </div>
        </div>
        <% include ../components/footer.html %>
    </div>
    <% include ../components/modalDialog.html %>
    <!-- build:js js/addcode.js -->
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="/javascripts/ace/ace.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/clipboard.min.js" charset="utf-8"></script>
    <!-- endbuild -->
    <script>
        var clipboard = new Clipboard('#copy');
        var editor = ace.edit("codeText");
        editor.session.setMode("ace/mode/<%=code.lang%>");
        editor.setTheme("ace/theme/github");
        editor.setOptions({
            readOnly: true
        });
        editor.$blockScrolling = Infinity;
        var codeid = "<%=codeid%>";
        $("#addComment").click(function(){
            $("#modalDialog").modal('show');
            $("#modalDialog .modal-title").html("添加评论");
            $("#modalDialog .modal-body").html("<textarea placeholder='请输入评论内容' class='form-control'></textarea>");
            $("#modalDialog .modal-footer").html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">取消</button>&nbsp;&nbsp;&nbsp;<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\" id=\"commit\">确认</button>");
            $("#commit").bind('click', function() {
                $.post("/comment/add", {
                    comment: $("#modalDialog textarea").val(),
                    isFirst: true,
                    codeid: codeid
                },function(data){
                    if(data.code == 200) {
                        console.log("succ");
                    } else {
                        console.log("err");
                    }
                })
            });
         });
        $("#shareUrl").val(window.location.protocol + "//" + window.location.host + window.location.pathname + window.location.search);
        $(".comment-footer-edit").click(function(){
            $("#modalDialog").modal('show');
            $("#modalDialog .modal-title").html("修改评论");
            $("#modalDialog .modal-body").html("<textarea placeholder='请输入评论内容' class='form-control'>"+$(this).data("content")+"</textarea>");
            $("#modalDialog .modal-footer").html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">取消</button>&nbsp;&nbsp;&nbsp;<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\" id=\"commit\">确认</button>");
            $("#commit").bind('click', function() {
                $.post("/comment/add", {
                    comment: $("#modalDialog textarea").val(),
                    isFirst: true,
                    codeid: codeid
                },function(data){
                    if(data.code == 200) {
                        console.log("succ");
                    } else {
                        console.log("err");
                    }
                });
            });
        });
        $(".comment-footer-reply").click(function(){
            $("#modalDialog").modal('show');
            $("#modalDialog .modal-title").html("回复 "+$(this).data("uid")+" 的评论");
            $("#modalDialog .modal-body").html("<textarea placeholder='请输入评论内容' class='form-control'></textarea>");
            $("#modalDialog .modal-footer").html("<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">取消</button>&nbsp;&nbsp;&nbsp;<button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\" id=\"commit\">确认</button>");
            var divid = $(this).data("divid");
            var reply = $(this).data("uid");
            $("#commit").bind('click', function() {
                $.post("/comment/add", {
                    comment: $("#modalDialog textarea").val(),
                    isFirst: false,
                    codeid: codeid,
                    divid: divid,
                    reply: reply
                }, function(data) {
                    if(data.code == 200) {
                        console.log("succ");
                    } else {
                        console.log("err");
                    }
                });
            });
        });
        $("#codelike").click(function(){
            console.log("asd");
        });
    </script>
</body>

</html>