<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>
        <%=title%>
    </title>
    <!-- build:css css/addcode.css -->
    <link rel="stylesheet" type="text/css" href="/src/style.css">
    <!-- endbuild -->
</head>

<body>    
    <% include ../components/menu.html %>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="show-class active" id="newcode">最新代码</span>
                <span class="show-class" id="welcomecode">最热代码</span>
                <span class="dropdown" id="lang">
                    <span class="show-class dropdown-toggle"  id="langDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Language: All</span>
                    <ul class="dropdown-menu" aria-labelledby="langDropdown">
                        <%
                            for(var i in lang) {
                                for(var j in lang[i]){
                        %>
                                    <li data-lang="<%=j%>"><a href="javascript:void(0);"><%=lang[i][j]%></a></li>
                        <%
                                }
                            }
                        %>
                    </ul>
                </span>
                <span class="dropdown" id="tags">
                    <span class="show-class dropdown-toggle"  id="tagsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Tags: All</span>
                    <ul class="dropdown-menu" aria-labelledby="tagsDropdown">
                        <%
                            for(i in tags) {
                        %>
                                <li data-tag="<%=tags[i]%>"><a href="javascript:void(0);"><%=tags[i]%></a></li>
                        <%
                            }
                        %>
                    </ul>
                </span>
            </div>
            <div class="panel-body con_title_list">
                <ul class="list-group title_list" id="codelist">
                    <%
                        for(var i in newCode) {
                    %>
                        <li class="list-group-item" data-id="<%=newCode[i]["codeid"]%>">
                            <%=newCode[i]["intro"]%>&nbsp;
                            <span class="small"><%=new Date(newCode[i]["timestamp"]).getTime()%></span>
                            <span class="pull-right title_right">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(<%=newCode[i]["lookover"]%>)&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(<%=newCode[i]["like"]%>)
                            </span>
                        </li>
                    <%
                        }
                    %>
                </ul>
            </div>
        </div>
        <div class="well codelist-paging">
            <a href="javascript:void(0);" id="page-home">首页</a>&nbsp;&nbsp;<a href="javascript:void(0);" id="page-prev">上一页</a>&nbsp;&nbsp;<span id="cPage">1</span>&nbsp;/&nbsp;<span id="tPage"><%=page%></span>&nbsp;&nbsp;<a href="javascript:void(0);" id="page-next">下一页</a>&nbsp;&nbsp;<a href="javascript:void(0);" id="page-last">尾页</a>
        </div>
        <% include ../components/footer.html %>
    </div>

    <!-- build:js js/addcode.js -->
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        var type = "newcode";//newcode welcomecode lang tags
        var paramsData={};
        var currpage = 1;
        var totalpage = <%=page%>;
        function codelistHandler(data){
            var $codelist = $("#codelist");
            $codelist.html("");
            var codelist = data.codelist;
            for(var i in codelist) {
                $codelist.append(['<li class="list-group-item">',
                    codelist[i].intro+'&nbsp;',
                    '<span class="small">' + (new Date(codelist[i].timestamp).getTime()).toString() + '</span>',
                    '<span class="pull-right title_right">',
                    '<span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看('+codelist[i]["lookover"]+')&nbsp;&nbsp;',
                    '<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞('+codelist[i]["like"]+')',
                    '</span></li>'
                ].join(''));
            }
            $("#tPage").html(data.page);
            totalpage = data.page;
        };
        $("#newcode").click(function(){
            currpage = 1;
            $("#cPage").text(currpage)
            type="newcode";
            paramsData={};
            if(!$(this).hasClass("active")){
                $(this).addClass('active').siblings().removeClass('active');
                $("#lang>span").removeClass('active');
                $("#tags>span").removeClass('active');
            }
            $.get("/code/newcode",function(data){
                codelistHandler(data);
            });
        });
        $("#welcomecode").click(function(){
            currpage = 1;
            $("#cPage").text(currpage)
            type="welcomecode";
            paramsData={};
            if(!$(this).hasClass("active")){
                $(this).addClass('active').siblings().removeClass('active');
                $("#lang>span").removeClass('active');
                $("#tags>span").removeClass('active');
            }
            $.get("/code/welcomecode",function(data) {
                codelistHandler(data);
            });
        });
        $("#lang>ul>li").click(function(){
            currpage = 1;
            $("#cPage").text(currpage)
            type="lang";
            paramsData={lang:$(this).data("lang")};
            if(!$("#lang>span").hasClass("active")){
                $("#lang>span").addClass('active');
                $("#lang").siblings().removeClass('active');
                $("#tags>span").removeClass('active');
            }
            $("#lang>span").text('Language: ' + $(this).text());
            $("#tags>span").text('Tags: All');
            $.get("/code/lang",paramsData,function(data){
                codelistHandler(data);
            });
        });
        $("#tags>ul>li").click(function(){
            currpage = 1;
            $("#cPage").text(currpage);
            type="tags";
            paramsData={tag:$(this).data("tag")};
            if(!$("#tags>span").hasClass("active")) {
                $("#tags>span").addClass('active');
                $("#tags").siblings().removeClass('active');
                $("#lang>span").removeClass('active');
            }
            $("#tags>span").text('Tags: ' + $(this).text());
            $("#lang>span").text('Language: All');
            $.get("/code/tags",paramsData,function(data){
                codelistHandler(data);
            });
        });
        $("#codelist>li").click(function(){
            window.location.href = "/code/content?id=" + $(this).data("id");
        });
        $("#page-home").click(function(){
            if(totalpage == 1)return;
            if(currpage == 1)return;
            currpage = 1;
            paramsData.page=currpage;
            $.get("/code/"+type,paramsData,function(data){
                codelistHandler(data);
                $("#cPage").text(currpage)
            });
        });
        $("#page-prev").click(function(){
            if(totalpage == 1)return;
            if(currpage == 1)return;
            currpage = currpage - 1;
            paramsData.page=currpage;
            $.get("/code/"+type,paramsData,function(data){
                codelistHandler(data);
                $("#cPage").text(currpage)
            });
        });
        $("#page-next").click(function(){
            if(currpage == totalpage)return;
            currpage = currpage + 1;
            paramsData.page=currpage;
            $.get("/code/"+type,paramsData,function(data){
                codelistHandler(data);
                $("#cPage").text(currpage)
            });
        });
        $("#page-last").click(function(){
            if(currpage == totalpage) return;
            currpage = totalpage;
            paramsData.page=currpage;
            $.get("/code/"+type,paramsData,function(data){
                codelistHandler(data);
                $("#cPage").text(currpage)
            });
        });
    </script>
</body>

</html>