<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>test</title>
    <!-- build:css css/index.css -->
    <link rel="stylesheet" type="text/css" href="/src/style.css">
    <!-- endbuild -->
    <!-- build:js js/index.js -->
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="/javascripts/js.js"></script>-->
    <!-- endbuild -->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-heading" id="show-type"><span class="active">一周热门排行</span><span>最新代码</span><span>分类代码</span></div>
                    <div class="panel-body" id="show-con">
                        <div class="week-hot">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label_num label_num_1">1</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_2">2</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_3">3</span>Morbi leo risus<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">4</span>Porta ac consectetur ac<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">5</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">6</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">7</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">8</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">9</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">10</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="new-code">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="label_num label_num_1">1</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_2">2</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_3">3</span>Morbi leo risus<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">4</span>Porta ac consectetur ac<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">5</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">6</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">7</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">8</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">9</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="label_num label_num_n">10</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="classify-code">
                            <div class="code-type" id="code-type">
                                <span class="active">全部</span>
                                <span>JavaScript</span>
                                <span>Java</span>
                                <span>C</span>
                                <span>Python</span>
                                <span>更多...</span>
                            </div>
                            <div class="classify-code-list">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="label_num label_num_1">1</span>11111111111pibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_2">2</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_3">3</span>Morbi leo risus<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_n">4</span>Porta ac consectetur ac<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_n">5</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="label_num label_num_1">1</span>2222222222222222c facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_2">2</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_3">3</span>Morbi leo risus<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_n">4</span>Porta ac consectetur ac<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_n">5</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="label_num label_num_1">1</span>233333333222222c facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_2">2</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_3">3</span>Morbi leo risus<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_n">4</span>Porta ac consectetur ac<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_n">5</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="label_num label_num_1">1</span>44444442222c facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_2">2</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_3">3</span>Morbi leo risus<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_n">4</span>Porta ac consectetur ac<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="label_num label_num_n">5</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#code-type span").click(function () {
            if ($(this).hasClass('active')) { } else if ($(this).index() == $(".code-type span").length - 1) {
                window.location.href = "http://baidu.com";
            } else {
                $(this).addClass('active').siblings().removeClass('active');
                $(".classify-code-list ul").eq($(this).index()).slideDown().siblings().slideUp();
            }
        });
        $("#show-type span").click(function () {
            if ($(this).hasClass('active')) { } else {
                $("#show-con>div").eq($(this).index()).slideDown().siblings().slideUp();
                $(this).addClass('active').siblings().removeClass('active');
            }
        });
    </script>
</body>

</html>
