<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>
    <%=title%>
  </title>
  <!-- build:css css/indexs.css -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <!-- endbuild -->
  <!-- build:js js/indexs.js -->
  <script type="text/javascript" src="/jquery/jquery.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <!-- endbuild -->
</head>

<body>
  <% include modal_menu.html %>
    <div class="container">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="./images/558119546393858048.jpg">
          </div>
          <div class="item">
            <img src="./images/558118392989618176.jpg">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
      </div>
      <div class="row index_body">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading blog_title_head">一周热门排行<span class="pull-right"><a href="###">更多...</a></span></div>
            <div class="panel-body blog_list">
              <ul class="list-group blog_title_list">
                <li class="list-group-item">
                  <span class="label_num label_num_1">1</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                </li>
                <li class="list-group-item">
                  <span class="label_num label_num_2">2</span>Dapibus ac facilisis in<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                </li>
                <li class="list-group-item">
                  <span class="label_num label_num_3">3</span>Morbi leo risus<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                </li>
                <li class="list-group-item">
                  <span class="label_num label_num_n">4</span>Porta ac consectetur ac<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                </li>
                <li class="list-group-item">
                  <span class="label_num label_num_n">5</span>Vestibulum at eros<span class="pull-right title_right"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;查看(300)&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;赞(200)</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading blog_title_head">最新发布<span class="pull-right"><a href="###">更多...</a></span></div>
            <div class="panel-body blog_list">
              <div class="n_con">
                <div class="n_con_title">
                  <span class="n_con_title_type">科技 IT</span>
                  <span class="n_con_title_title"><a href="###" class="n_con_title_title_a">30种奇妙的鼠标悬停效果</a></span>
                </div>
                <div class="n_con_info">Tosone 发布于 2天前</div>
                <div class="n_con_intro">
                  Web界面上交互的方式很多，只要你去探索，你会发现很多让你眼前一亮的想法。Codrops最近发布了一组悬停效果，总共分为两组，多达30种不同的风格。为了让效果尽可能的平滑，最好不要在元素上使用变换以免影响布局。第二组效果中采用了SVG动画，这也是目前比较流行的方式。
                </div>
                <div class="n_con_binfo">
                  <span class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读(300)&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-comment"></span>&nbsp;评论(300)&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-tags"></span>&nbsp;标签：<a href="###" class="n_con_binfo_label">Bootstrap</a>&nbsp;<a href="###" class="n_con_binfo_label">WordPress</a>
                </div>
              </div>
              <div class="n_con">
                <div class="n_con_title">
                  <span class="n_con_title_type">科技 IT</span>
                  <span class="n_con_title_title"><a href="###" class="n_con_title_title_a">30种奇妙的鼠标悬停效果</a></span>
                </div>
                <div class="n_con_info">Tosone 发布于 2天前</div>
                <div class="n_con_intro">
                  Web界面上交互的方式很多，只要你去探索，你会发现很多让你眼前一亮的想法。Codrops最近发布了一组悬停效果，总共分为两组，多达30种不同的风格。为了让效果尽可能的平滑，最好不要在元素上使用变换以免影响布局。第二组效果中采用了SVG动画，这也是目前比较流行的方式。
                </div>
                <div class="n_con_binfo">
                  <span class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读(300)&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-comment"></span>&nbsp;评论(300)&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-tags"></span>&nbsp;标签：<a href="###" class="n_con_binfo_label">Bootstrap</a>&nbsp;<a href="###" class="n_con_binfo_label">WordPress</a>
                </div>
              </div>
              <div class="n_con">
                <div class="n_con_title">
                  <span class="n_con_title_type">科技 IT</span>
                  <span class="n_con_title_title"><a href="###" class="n_con_title_title_a">30种奇妙的鼠标悬停效果</a></span>
                </div>
                <div class="n_con_info">Tosone 发布于 2天前</div>
                <div class="n_con_intro">
                  Web界面上交互的方式很多，只要你去探索，你会发现很多让你眼前一亮的想法。Codrops最近发布了一组悬停效果，总共分为两组，多达30种不同的风格。为了让效果尽可能的平滑，最好不要在元素上使用变换以免影响布局。第二组效果中采用了SVG动画，这也是目前比较流行的方式。
                </div>
                <div class="n_con_binfo">
                  <span class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读(300)&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-comment"></span>&nbsp;评论(300)&nbsp;&nbsp;
                  <span class="glyphicon glyphicon-tags"></span>&nbsp;标签：<a href="###" class="n_con_binfo_label">Bootstrap</a>&nbsp;<a href="###" class="n_con_binfo_label">WordPress</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading blog_title_head">热门标签</div>
            <div class="panel-body row_la">
              <div class="row_label">
                <div class="row_label_lr">Bootstrap(20)</div>
                <div class="row_label_lr">Wordpress(10)</div>
                <div class="row_label_lr">Bootstrap(20)</div>
                <div class="row_label_lr">Wordpress(10)</div>
                <div class="row_label_lr">Bootstrap(20)</div>
                <div class="row_label_lr">Wordpress(10)</div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading blog_title_head">最新吐槽</div>
            <div class="panel-body row_la">
              <div class="pl_div">
                <a href="###" class="pl_div_a">Tosone</a>：出于性能的考标的类。把下面的代码放在任何地方都可以正常使用。注意，为了设置正确的内补（padding），务必在图标和文本之间添加一个空格。
                <span class="pl_div_time">3天前</span>
              </div>
              <div class="pl_div">
                <a href="###" class="pl_div_a">Tosone</a>：每个图标的类。把下面的代码放在任何地方都可以正常使用。注意，为了设置正确的内补（padding），务必在图标和文本之间添加一个空格。
                <span class="pl_div_time">3天前</span>
              </div>
              <div class="pl_div">
                <a href="###" class="pl_div_a">Tosone</a>：出于性能的考虑，所有码放在任何地方都可以正常使用。注意，为了设置正确的内补（padding），务必在图标和文本之间添加一个空格。
                <span class="pl_div_time">3天前</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="bottom_div">
        <p>Designed by <a href="http://www.weibo.com/234861397" target="_blank">@Tosone</a></p>
      </div>
    </div>
</body>

</html>
