<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
    <% include superadmin_modal_menu.html %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table admin_blog_list">
                    <thead>
                        <tr><td class="admin_blog_list_title">标题</td><td>User</td><td>操作</td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="admin_blog_list_title"><a href="###">[2015/12/12] 大学生创业大赛</a></td>
                            <td><a href="###">admin</a></td>
                            <td><a href="###">删除</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr />
        <div class="bottom_div">
            <p>Designed by <a href="http://www.weibo.com/234861397" target="_blank">@Tosone</a></p>
        </div>
    </div>
</body>
</html>